<link rel="stylesheet" href="/css/request.css">

{{#each request}}

<div class="request_menu">
    <h1>Pedido: {{request.length}}</h1>
    <p>Tamanho: {{size}}</p>
    <p>Sabor: {{flavor1}}, {{flavor2}}, {{flavor3}}</p>
    <p>Bebida: {{drink}}</p>
    <p>Endereço: {{address}}</p>
    <p>Telefone: {{telephone}}</p>
    <p>Hora do Pedido: {{date}}</p>
    <p>Tipo de Pagamento: {{payment}}</p>
    <a href="/admin/request/remove/{{_id}}"><button class="request_red_button" >Deletar</button></a>
</div>
{{else}}
    <div class="empty_request">
        <h1>Nenhum pedido encontrado</h1>
    </div>
    
{{/each}}