<link rel="stylesheet" href="/css/cardapio.css">

<div class="background_image_cardapio">
<nav>
    <div class="cardapio-btn">
        <button>Pizzas Salgadas</button>
    </div>
    <div class="cardapio-btn">
        <a href=""><button>Pizzas Doces</button></a>
    </div>
    <div class="cardapio-btn">
        <button>Bebidas</button>
    </div>
    <div class="cardapio-btn">
        <button>Diversos</button>
    </div>
</nav>

{{#each pizza}}
<div class="pizza-cardapio">
    <h1>{{sabor}}</h1>
    <h3 class="descricao_cardapio">{{descricao}}</h3>
    <br>
    <div class="prices">
    <p>Pequena - {{preco1}}</p>
    <p>Média - {{preco2}}</p>
    <p>Grande - {{preco3}}</p>
    </div>
</div>

{{else}}

{{/each}}
</div>