{{#each pizza}}
<div class="pizza-cardapio">
    <h1>{{sabor}}</h1>
    <h3 class="descricao_cardapio">{{descricao}}</h3>
    <br>
    <div class="prices">
    <p>Pequena - {{preco1}}</p>
    <p>Média - {{preco2}}</p>
    <p>Grande - {{preco3}}</p>
    </div>
</div>

{{else}}

{{/each}}
</div>